{% extends "churchmembers/base_members.html" %}

{% block title %}Church Family: {{ object.name }}{% endblock %}
{% block body_id %}family_detail_page{% endblock %}

{% load i18n %}

{% block headline %}
  <h2>{{ object.name }}</h2>
{% endblock %}


{% block content %}
  {% load blog markup comments inlines %}
  <div class="main_content">
  {% with object as family %}
  {% ifequal family.status 1 %}
    {% if family.member_set.all %}<h3>Family members:</h3><ul>{% for member in family.member_set.all %}<li><a href="{{ member.profile.get_absolute_url }}">{{ member.profile.user.get_full_name }}</a></li>{% endfor %}</ul>{% endif %}
    {% if family.address or family.address2 or family.city or family.state or family.zip %}
    <h3>Address:</h3>
    <p>
    {% if family.address %}{{ family.address }}{% endif %}
    {% if family.address2 %}<br />{{ family.address2 }}{% endif %}
    {% if family.city %}<br />{{ family.city }}, {% endif %}
    {% if family.state %}{{ family.state }}{% endif %}
    {% if family.zip %}  {{ family.zip }}{% endif %}
    </p>
    {% endif %}
    {% if family.phone1 or family.phone2 or family.email or family.website %}
    <h3>Phone and Internet:</h3>
    <ul>
    {% if family.phone1 %}<li>{{ family.phone1 }}</li>{% endif %}
    {% if family.phone2 %}<li>{{ family.phone2 }}</li>{% endif %}
    {% if family.email %}<li>{{ family.email }}</li>{% endif %}
    {% if family.website %}<li>{{ family.website }}</li>{% endif %}
    </ul>
    {% endif %}
    {% ifequal user.get_profile.member.family family %}<p><a href="{% url family_form %}">Edit your family information</a></p>{% endifequal %} 

  {% else %}
  <p>No family information available</p>
  {% endifequal %}
  {% endwith %}
  </div>
{% endblock %}

{% block rightrailcontent %}{% load tagging_tags %}
  {% load thumbnail %}
  {% if object.photo %}<img src="{{ MEDIA_URL }}{{ object.photo.url|thumbnail:"200" }}" alt="{{ object.name }} family" width="200px" />
  <p class="mug_caption">{{ object.name }} family</p>{% endif %}
  {{ block.super }}
  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <h2>Related tags:</h2>
  <p class="inline_tag_list">
  {% for tag in tag_list %}
  <a href="{{ tag|slugify }}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  </p>
  {% endif %}
{% endblock %}